*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
   font-style: italic; 
   color:pink

}



body{
    background-color:darkgray ;
    color: #555555;

    font: normal 16px verdana, geneva, tahoma, sans-serif;
    line-height:1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto
}

.box-1{
    background-color: #333;
    color:#fff; 

    
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    border: 5px red solid;

    padding-top: 20px;

    margin: 20px 0;
}

.box-1 h1{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 0.2em
    
}

.box-2{
    background-color: indigo;
    color:#fff;
    padding: 10px;
    border: azure 3px solid;
}

.box-3{
    padding-top: 10px;
    background-color: black;
    margin-top: 20px;
    color: white;
    border-radius: 10px
    

}

.box-3 ul{
    padding: 5px;
    list-style: none;
}